@font-face{
    font-family: Montserrat;
    src: url(../../Montserrat-VariableFont_wght.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

@font-face {
    font-family: "Higuen Elegant Serif";
    src: url(../Higuen\ Serif.otf);
}

.higuen {
    font-family: "Higuen Elegant Serif";
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    overflow: 0;
}



.fundo-escuro {
    width: 100%;
    background-color: black;
    opacity: 50%;
    background-size: cover;
}

.cabecalho {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-around;
    justify-content: start;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-around !important;
    height: 100%;
    width: 100%;
}

.caixa-nav {
    height: 100%;
    background-color: #33302B;
}

.caixa-nav-home-quem-somos {
    height: 100%;
    background-color: none !important;
}

.logo-nav {
    margin-top: 8px;
    height: 100%;
}

.area-logo {
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-redor-logo {
    display: flex;
    justify-content: space-around;
}

.caixa-area-logo-principal {
    margin: 100px 0 20px 0;
    display: flex;
    justify-content: center;
}

.area-logo-principal{
    display: flex;
    flex-direction: column;
}

header li {
    display: flex;
    justify-content: space-around;
    margin: 0 50% 0 50%;
    white-space: nowrap;
}

header a {
    color: #FFF7EC !important;
    font-size: 17px;
    font-weight: 500;
}

.caixa-seta-para-baixo{
    display: flex;
    justify-content: center;
    height: 100px;
}

.circulo-seta-para-baixo{
    border-radius: 50%;
    height: 50px;
    background-color: #FFF7EC;
}

.cor-do-body {
    background-color: #473B2F !important;
}

.corpo-pagina {
    border-radius: 10px;
    background-color: #FFF7EC !important;
    margin: 0 2% 0 2%;
}

.rodape {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    height: 150px;
    background-color: #A45A01;
    margin: 1% 1% 1% 1%;
    border-radius: 30px;
}

.rodape ul{
    display: flex;
    list-style: none;
}

.rodape h5{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5%;
}

.rodape h6{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #33302B;
}

.rodape h6 :hover{
    text-decoration: underline;
    color: black;
}

.rodape a{
    text-decoration: none;
}

.link-home-rodape{
    text-decoration: none;
}

.area-logo-rodape{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 -5% 0 0;
}

.logo-rodape{
    margin: 15px 0 -6px 32px;
    height: 100px;
    width: 180px;
}

.higuen-tamanho{
    font-size: 22px;
    text-decoration: none;
    color: #33302B ;
}

.higuen-tamanho :hover{
    text-decoration: none;
    color: #33302B ;
}

.slogan-rodape{
    margin-left: 30px;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #33302B ;
}

.slogan-rodape :hover{
    color: #33302B ;
}

.area-link-contato-rodape{
    margin: 2px -4% 0 -7%;
}

.titulos-colunas-rodape{
    display: flex;
    justify-content: center;
}

.area-link-rodape{
    display: flex;
    justify-content: center;
}


.area-link-rodape a{
    display: flex;
    width: 36%;
}

.area-link-rodape a :hover{
    text-decoration: underline;
}

.icon-seta-direita-rodape{
    text-decoration: none !important;
    color: #33302B;
    font-size: 25px !important;
}

.apps-rodape{
    margin-top: 40px;
} 

.apps-rodape ul{
    margin-left: -2.5%;
}

.apps-rodape ul li{
    margin: 2%
}

.apps-rodape i{
    font-size: 1%;
    text-decoration: none;
    color: #33302B;
}

.apps-rodape i :hover{
    text-decoration: none;
    color: #33302B;
}

.icons-apps-rodape{
    font-size: 10px;
}